<section class="block">
    <header class="block__header">
        <h2>What out Customers are Saying</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Accusamus quos aliquam minima quo fugiat velit autem iusto
            expedita deleniti laborum.
        </p>
    </header>
    <div class="container">
        <dic class="card testimonial">
            <div class="grid grid--1x2">
                <div class="testimonial__image">
                    <img
                        src="images/testimonial.jpg"
                        alt="a happy, smiling customer"
                    />
                    <span class="icon-container icon-container--accent">
                        <svg class="icon icon--small icon--white">
                            <use xlink:href="images/sprite.svg#quotes"></use>
                        </svg>
                    </span>
                </div>
                <blockquote class="quote">
                    <p class="quote__text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat
                        vero tempore alias cum temporibus. Illo in ducimus excepturi aut
                        recusandae!
                    </p>
                    <footer>
                        <div class="media">
                            <div class="media__image">
                                <svg class="icon icon--primary quote__line">
                                    <use xlink:href="images/sprite.svg#line"></us>
                                </svg>
                            </div>
                            <div class="media__body">
                                <h3 class="media__title quote__author">Travis Choi</h3>
                                <p class="quote__organization">ABC Company</p>
                            </div>
                        </div>
                    </footer>
                </blockquote>
            </div>
        </dic>
    </div>
</section>